@charset "utf-8";

$family-sans-serif: "Noto", sans-serif;
$black: black;
$box-shadow: 0 0 0 1px rgba($black, 0.1);
// $primary: #ef67f0;
// $info: #ef67f0;

.no-margin {
    margin: 0 !important;
}
.header {
    background-color: hsl(171, 100%, 41%);
    .subtitle {
        color: hsl(0, 0, 100);
    }
    padding: 1em;
}

@import "highlight.css";



@import "~bulma/bulma";

.green {
    color: $green;
}

.red {
    color: $red;
}